In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# get metadata
data = pd.read_json('meta_Clothing_Shoes_and_Jewelry.json', lines = True, chunksize = 10000)

In [3]:
# filter all product with keyword 'shirt' in its title
shirt_meta = pd.DataFrame()
for chunk in data:
    chunk = chunk.loc[chunk['title'].str.contains('shirt')]
    shirt_meta = pd.concat([shirt_meta, chunk])

In [4]:
# get shirt product asin
shirt_asin = set(shirt_meta['asin'])

In [5]:
# get review data
data = pd.read_json('Clothing_Shoes_and_Jewelry.json', lines = True, chunksize = 10000)
shirt_review = pd.DataFrame()

In [6]:
for chunk in data:
    chunk = chunk[chunk['asin'].isin(shirt_asin)]
    shirt_review = pd.concat([shirt_review, chunk])

In [ ]:
#shirt_review.to_csv('shirt_review.csv')

In [7]:
shirt_asin_final = ['B000BRETA4', 'B009OCZ84I', 'B001OQ67XI', 
                    'B000BRFH1E', 'B00DIX5SVM', 'B009LJW5HM', 
                    'B004IZVE6W', 'B00KC3DANE', 'B008FV74N2']

In [ ]:
#shirt_meta[shirt_meta['asin'].isin(shirt_asin_final)].to_csv('shirt_meta.csv')

In [3]:
df = pd.read_csv('data/shirt_review.csv')

In [4]:
top_review = pd.DataFrame(df['asin'].value_counts()).head(10)

In [5]:
top_review[:9].sum() # check number of reviews in top reviewed items

asin    28816
dtype: int64

In [6]:
top_review.index # check the isin of top reviewed products

Index(['B000BRETA4', 'B009OCZ84I', 'B001OQ67XI', 'B000BRFH1E', 'B00DIX5SVM',
       'B009LJW5HM', 'B004IZVE6W', 'B00KC3DANE', 'B008FV74N2', 'B0002FHJ66'],
      dtype='object')

In [7]:
meta = pd.read_csv('data/shirt_meta.csv')

In [8]:
title = pd.DataFrame(meta['title'])
title  # check if the top reviewed products are sweatshirt

                                               title
0  Hanes Men's Pullover EcoSmart Fleece Hooded Sw...
1  Hanes Men's Pullover EcoSmart Fleece Hooded Sw...
2  Gildan G185 Heavy Blend Adult Hooded Sweatshir...
3  Russell Athletic Men's Dri-Power Fleece Sweats...
4               Hanes Women's Wear Around Nightshirt
5    Gildan G185 Heavy Blend Adult Hooded Sweatshirt
6    Gildan G185 Heavy Blend Adult Hooded Sweatshirt
7  Vobaga Women's Bird Heart Geometric Print Shor...
8  Dream USA Men's Casual 3/4 Sleeve Baseball Tsh...

In [9]:
# 4 is Hanes Women's Wear Around Nightshirt
# 7 Vobaga Women's Bird Heart Geometric Print Shor..
# 8 Dream USA Men's Casual 3/4 Sleeve Baseball Tsh...

In [10]:
# choose sweatshirts
asin = ['B000BRETA4', 'B009OCZ84I', 'B001OQ67XI', 'B000BRFH1E','B009LJW5HM', 'B004IZVE6W']
sweatshirt = df[df['asin'].isin (asin)]
#sweatshirt.to_csv('sweatshirt.csv')

In [11]:
sweatshirt = sweatshirt[['overall','vote','asin','style','reviewText']]
sweatshirt.index = range(0,sweatshirt.shape[0])
sweatshirt.groupby('asin')['overall'].mean()  # check average rating of each products

asin
B000BRETA4    4.389073
B000BRFH1E    4.396355
B001OQ67XI    4.413759
B004IZVE6W    4.255738
B009LJW5HM    4.407365
B009OCZ84I    4.418659
Name: overall, dtype: float64

In [12]:
X = sweatshirt[['overall','asin','reviewText']]
X = X.dropna()
X.shape   # there are 21507 reviews

(21507, 3)

In [13]:
df_X = pd.DataFrame(X)

# filter reviews with more than 100 characters
len_100 = []
for i in range(df_X.shape[0]):
    if len(df_X['reviewText'].iloc[i])>100:
        len_100.append(i)
    else:
        pass

In [14]:
#df_X.iloc[len_100].to_csv('sweatshirt_100words.csv')

In [16]:
insample,outsample = train_test_split(df, train_size = 1200/df.shape[0],random_state=42)

In [17]:
#insample.to_csv('sweatshirt_sample1200.csv')

**This insample dataset is the dataset we used for manually label**